html {
  box-sizing: border-box;
}

*, *:before , *:after {
  box-sizing: inherit;
}

body {
background-color: #68667b;
background-image: linear-gradient(90deg, #68667b 0%, #9fadae 100%);


  
}

section {
  background: white;
}


h1 {
  color: #BC6C25;
}

p {
  color: #dda15e;
}

h2 {
  color: #BC6C25;
}



.header-link {
  color: pink;
}

.navigation {
  background:linear-gradient(to right, #8e9eab 0%, #eef2f3 51%, #8e9eab 100%);
  padding: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: center;  
  
}

.navigation__link {
  color: white;
  display: inline-block;
  margin-right: 20px;
}

.navigation__link--homepage {
  background: linear-gradient( 109.6deg,  rgba(48,207,208,1) 11.2%, rgba(51,8,103,1) 92.5% );
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100px;
  align-items: center;
  color: white;
}

.navigation__link--dziennik {
  background: linear-gradient( 109.6deg,  rgba(48,207,208,1) 11.2%, rgba(51,8,103,1) 92.5% );
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100px;
  align-items: center;
  color: white;
}

.week-summary {
  padding: 16px;
  border: 1px #ccc solid;
  margin-bottom:  16px;;
}

.week-summary__description {
  color: rgb(139, 94, 26);
}

.week-summary__title {
  color: rgba(10, 10, 10, 0.932);
}

.main {
 max-width: 1000px;
margin: 0 auto;
}

.main__heading {
 color: rgb(41, 25, 100);



.about {

}

.about__heading {
  color: #1460aa;
}

.about__link {
color: #92140c;
}


.notes {

}

.notes__heading {
color: #1460aa;
}

.paragraphs__headers {
  color:#606C38;
}

.article__description {
  color: #081c15;
}

.footer {
  max-width: 1000px;
  margin: 0 auto;
  }

  .footer__link {
    color:#1460aa;
  }

.list {
  list-style: square;
}

.table {
  width: 100%;
}