body {
  background: #fefae0;
}
section {
  background: white;
}

h1 {
  color: #BC6C25;
}

p {
  color: #dda15e;
}

h2 {
  color: #BC6C25;
}

.header-link {
  color: green;
}

.navigation {
  background: #606C38;
  padding: 16px;
  border-radius: 8px;
}

.navigation__link {
  color: white;
  display: inline-block;
  margin-right: 20px;
}

.navigation__link--homepage {
  background: red;
  color: black;
}

.week-summary {
  padding: 16px;
  border: 1px #ccc solid;
  margin-bottom:  16px;;
}

.week-summary__description {
  color: lightgreen;
}

.week-summary__title {
  color: green;
}

.main {
  display:inline-block;
  text-align:center;
}

.paragraphs__headers {
  color:#606C38;
}

.article__description {
  color: #081c15;
}

.footer {
  text-align: center;
}

